<h2 mat-dialog-title>{{job.designation}} </h2>
<mat-dialog-content class="mat-typography">
    <h3>by {{job.hiringCompanyName}}</h3>

  Java Full stack developer
  <li>
    Solid working experience in Java and J2EE development skills.
  </li>
  <li>
    Working experience in developing web services using HTTP REST/JSON and SOAP
  </li>
  <li>
    Working experience in Oracle PL/SQL
  </li>
  <li>
    Object-oriented and service-oriented design concepts, including knowledge of data transfer objects and associated design patterns
  </li>
  <li>
    Experience with Angular Framework, JavaScript, and CSS.
  </li>
  <li>
    Comprehensive knowledge of Web design patterns and front-end technologies like HTML5, CSS, and MVC frameworks like spring and Spring Boot.
  </li>
  <li>
    Hands-on experience with unit testing and working with continuous integration environment
  </li>
  <li>
    Collaborate with other team members like product owners, project managers, test managers, database, and quality team to deliver product features, releases and technical POCs with high quality and in a timely manner using agile methodologies.
  </li>
  <li>
    Define, improve, and follow best practices and processes related to design, code review, unit test, documentation for the development team
  </li>
  <li>
    Excellent communication skills with the ability to solicit and formalize requirements and work with end users/customers.
  </li>
  <li>
    Experience working with GitHub and Jenkins
  </li>
  <li>
    Exposure to Office 365 integration/enhancement in web application is desirable
  </li>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Apply</button>
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>