<div style = "border: 3px white solid; padding: 30px; margin-right:150px; margin-top:20%;
 border-radius: 5px; color:black;
 
 /* background-color: #7f53ac;
background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%); */

/* background-image: url(../../assets/4585.png); */
box-shadow: 5px 10px 18px #888888;

background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);


 ">
<h1 style="color: white;">Apply for job</h1>
<form #userlogin = "ngForm" (ngSubmit) = "onClickSubmit(userlogin.value)" >

   <mat-form-field class="example-full-width" appearance="fill">
      <mat-label> <mat-icon> mail_outline</mat-icon>  Email Id</mat-label>
      <input matInput placeholder="Email Id" value="" ngModel name="emailid">
   </mat-form-field>
   <br/>
   <mat-form-field class="example-full-width" appearance="fill">
      <mat-label> <mat-icon>lock</mat-icon> Password</mat-label>
      <input matInput type="password" placeholder="Email Id" value="" ngModel name="passwd">
   </mat-form-field>

    <!-- <input mat-raised-button color="primary" type = "submit" value = "submit"> -->
    <br/>
    <button mat-raised-button color="primary">Login</button>

 </form>

 <div style="height: 5px">
</div>

   <div *ngIf="this.isLoading">
      Please wait, Authenticating...
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
   </div>


 <div *ngIf="loginErrorMsg" style="margin:0px; border:0px white solid; padding:0px;">

      
      {{loginErrorMsg}}
      <mat-icon style="margin-top: 1px;">error</mat-icon>
 </div>

 <div>

    {{currentUser.email}}

    



     </div>

     </div>